.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color: #f9f9f9;
}

input{
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(0, 0, 0);
  /* display: block; */
  /* border-radius: 5px; */
}

button{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

Link{
  text-decoration: none;
}

.inital-css{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navWrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.order-listing{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginWrapper{
  padding: 20px;
  margin-top: 20px;
  width: 80vw;
  max-width: 400px;
  height: 350px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 5px;
}

.form{
  margin-left: auto;
  margin-right: auto;
}

.formInput{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.footnote{
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.app-nav{
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 20px;
}

.app-nav h3{
  margin: 0;
}

#clnr-logo{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#newOrderButton{
  font-size: 18px;
  background-color: rgb(8, 4, 4);
  /* width: 50px;
  height: 50px; */
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.home-btns-wrapper{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}