body{
  background-color: rgb(243, 243, 243);
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input{
  height: 30px;
  width: 160px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(0, 0, 0);
  /* display: block; */
  /* border-radius: 5px; */
}


button{
  background-color: rgb(240, 240, 243);
  color: #737373;
  padding: 7px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  border: none;
  font-weight: 600;
  border-radius: 3px;
}

Link{
  text-decoration: none;
}

.inital-css{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navWrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}


.loginWrapper{
  padding: 20px;
  margin-top: 20px;
  width: 80vw;
  max-width: 400px;
  height: 350px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 5px;
}

.form{
  margin-left: auto;
  margin-right: auto;
}

.formInput{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.footnote{
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.app-nav{
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px;
  text-align: center;
  margin-bottom: 5px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  z-index: 5;
}

.app-nav img{
  width: 25px
}

.app-nav h3{
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#clnr-logo{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.large-footer-btn{
  font-size: 18px;
  background-color: rgb(8, 4, 4);
  /* width: 50px;
  height: 50px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  color: white;
}

.footer-btn-wrapper{
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e6e6e6;
}

.home-btns-wrapper{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


/* CREATE ACCOUNT FORM STYLES  -----------------  */

.item-name{
  margin-left: 10%;
}

.price-wrapper{
  margin-right: 10%;
}

.price-input{
  width: 60px;
  margin-left: 5px;
}

.item-wrapper{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.settings-wrapper{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


input[type=radio]{
  width: 20px;
}

/* ------------------------------------------------------------*/
/* DASHBOARD --------------------------------------------------*/

.dashboard-wrapper{
  margin-bottom: 75px;
}

.search-bar{
width: 90%;
border: 1px solid rgb(231, 231, 231);
height: 25px;
border-radius: 10px;
}

.order-listing{
  background-color: white;
  -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.order-listing:hover{
  background-color: rgb(238, 238, 238);
}

.order-listing h2, p, h3{
  margin: 0px;
}
.order-listing h2{
  font-size: 18px;
}

.order-listing p{
  font-size: 16px;
  color: rgb(170, 170, 170);
  margin-top: 5px;
  margin-bottom: 5px;
}

.tab-btns{
  background-color: white;
  color: black;
  border: 1px solid rgb(231, 231, 231);
  width: 35%;
  height: 40px;
  border-radius: 10px;
}

.tab-btns-wrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between
}

.dash-order-number{
  color: rgb(245, 80, 80);
  font-size: 16px;
  font-weight: 800;
}

.dash-order-status{
  background-color: #ffc20d;
  color: white;
  width: 73px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 8px;
}

#past-due{
  background-color: rgb(245, 80, 80);
}

.dash-order-header{
  display: flex; 
  justify-content: space-between;
}

#highlight{
  color: black;
  font-weight: 800;
}

/* ------------------------------------------------------------*/
/* CONFIRMATION PAGE ------------------------------------------*/

.confirmation-wrapper{
  max-width: 500px;
  color: rgb(49, 49, 223);
  background-color: #f7e4ec;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 20px;
  height: 80vh;
}

#order-num{
  color: rgb(235, 10, 10);
  font-size: 35px;
  font-weight: 800;
  text-align: right;
}

.item-list{
  display: flex;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px; */
}

.item-type{
  text-transform: uppercase;
  font-weight: 800;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(161, 161, 239);
  border-bottom: none;
  padding: 5px;
  padding-left: 20px;
  width: 70%;
  text-align: left;
}

.item-amount{
  font-weight: 800;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(161, 161, 239);
  border-left: none;
  border-bottom: none;
  padding: 5px;
  width: 30%

}

#last-item{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(161, 161, 239);;
}

.client-info-fields{
  display: flex;
}

.client-order-wrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.line{
  width: 100%;
  border-bottom-color: rgb(161, 161, 239);;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 15px;
  margin-top: 6px;
}

.merchant-adress-info{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

.store-name{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
}

#form-header{
  background-color: rgb(49, 49, 223);
  color: #f7e4ec;
  font-size: 12px;
}

.confirmation-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center
}

.order-status{
  text-align: left;
  font-size: 12px;
}

.confirmation-field-title{
  text-align: left;
  width: 60px;
  font-size: 14px;
}

.client-info{
  font-weight: 800;
  font-size: 16px;
  text-align: left;
}

.ready-date-wrapper{
  display: flex;
  margin-bottom: 15px;
}

.ready-date{
  width: 20%;
  border-color: rgb(17, 28, 179);
  border-style: solid;
  border-width: 1px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 200, 255);
}

.client-phone{
  width: 50%;
}

.date{
  width: 50%;
}





/* -------- ORDER BUTTONS PAGE */
.order-button{
  background-color: rgb(255, 255, 255);
  padding: 30px;
  height: 3vh;
  width: 105px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #e4e4e4;
  text-transform: capitalize;
  text-align: center;
}

.order-button-selected{
  background-color: #ececec;
  font-weight: 800;
  
}

.order-button-selected p{
  background-color: #050506;
  width: 40px;
  height: 30px;
  border-radius: 100px;
  color: white;
  position: relative;
  bottom: 59px;
  left: 101px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 800;
}

.items-selected{
  background-color: #ff0907;
  position: relative;
  bottom: 55px;
  left: 105px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.logout{
  background-color: none;
  border-bottom: 1px solid #737373;
  font-size: 12px;
  font-weight: 800;
  color: #737373;
  text-transform: uppercase;
}

#back-arrow{
  font-size: 25px;
}
.circles{
  background-color: black;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100px;
}

.page-circles{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#unselected{
  opacity: .3;
}

.order-subtotal{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}